#contentbox
{
}

#footer
{
  font-style: italic;
}

#me
{
  background-color: #fff;
  border-bottom: 1px solid #888;
}

#easteregg
{
  border: 1px solid black;
  background-color: #fef;
}

#tip div
{
  border: 1px solid black;
  background-color: #f0f0f0;
}

#kitchen
{
  border: 1px solid black;
  background-color: #fff;
}

hr
{
  color: #000;
  background-color: #000;
}

a,button,input[type="button"],input[type="submit"],input[type="reset"]
{
  color: #040;
  text-decoration: none;
}

#rearrangerooms
{
  color: #040;
}

.leftbar
{
  background-color: #dcf1c6;
}

thead tr,.titlerow
{
  background-color: #82c13f;
}

.row
{
  background-color: #fff;
}

.altrow
{
  background-color: #dcf1c6;
}

.row_backlit
{
  background-color: #C5E8A2;
}

.altrow_backlit
{
  background-color: #AEDF7D;
}

.row_alert
{
  background-color: #ffffef;
}

.altrow_alert
{
  background-color: #f0f0e0;
}

.dialog { padding: 0.5em; background: #f0f0f0; }
.dialogtop { background-image: url(//www.psypets.net/gfx/dialog_top.png); background-repeat: repeat; }
.dialogbottom { background-image: url(//www.psypets.net/gfx/dialog_bottom.png); background-repeat: repeat; }
.dialogtop,.dialogbottom { height: 8px; }
.dialogright
{
  background: #f0f0f0 url(//www.psypets.net/gfx/dialog_right.png) repeat-y;
  background-position: right;
}
.dialogleft
{
  background: #f0f0f0 url(//www.psypets.net/gfx/dialog_left.png) repeat-y;
  background-position: left;
  padding-left: 8px;
}

.preview
{
  border: 2px solid #000;
}

ul.tabbed
{
  padding-bottom: 1px;
  border-bottom: 1px solid #060;
}

ul.tabbed li
{
  background-color: #dcf1c6;
  border-top: 1px solid #aca;
  border-left: 1px solid #aca;
  border-right: 1px solid #aca;
  border-bottom: 1px solid transparent;
}

ul.tabbed li a
{
  color: #232;
}

ul.tabbed li.activetab a
{
  color: #040;
}

ul.tabbed li.activetab
{
  border-top: 1px solid #060;
  border-left: 1px solid #060;
  border-right: 1px solid #060;
  background-color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

#ingamead
{
  border: 1px solid black;
}

.tip th
{
  background-color: #eee;
}

#comments
{
  border-left: 1px solid #000;
}

table.inventory td
{
  border-top: 1px solid #888;
}

ul.inventory li
{
  border-top: 1px solid #888;
}

#townmap
{
  border: 1px solid black;
}

.progressbar
{
  border: 1px solid black;
}

.progressbar div
{
  background-color: red;
}

.popupmenu
{
  border-left: 2px solid #82C13F;
}

.posttext
{
  background-color: #fff;
}

.infotip
{
  border: 1px solid;
  background-color: #ffc;
}

.impact_small
{
  color: #639;
}

.impact_medium
{
  color: #369;
}

.impact_large
{
  color: #963;
}

ul.megamenu {
  background-color: #dcf1c6;
  border-top: 1px solid #82c13f;
}

ul.megamenu li div ul li a:hover
{
  background-color: #dcf1c6;
}

ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {
  color: #444;
  background: #FFF;
  border-left: 1px solid #82c13f;
  border-right: 1px solid #82c13f;
}

ul.megamenu div.mm-item-content {
  background: #FFF;
  border: 1px solid #82c13f;
}

.mm-content-base {
  background: #FFF;
}
.mm-js-shadow {
  background: #555;
}

ul.jeegoocontext, ul.jeegoocontext ul
{
	background-color: #dcf1c6;
	border-left: solid 1px #82c13f;
	border-right: solid 1px #82c13f;
	border-bottom: solid 1px #82c13f;
}

ul.jeegoocontext li
{
	background-color: #dcf1c6;
	color: #000;
  border-top: solid 1px #82c13f;
}

ul.jeegoocontext li.hover
{
  background-color: #fff;
}
