# Disable magic quotes; they're too magic
php_flag magic_quotes_gpc Off

# Security by obscurity... >_>
php_flag expose_php Off

RewriteEngine On

# Force domain to begin with www.
#RewriteCond %{HTTP_HOST} !^(www|nutmeg|cardamom)\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Get rid of /original in URLs
RewriteRule ^original/(.*)$ http://www.psypets.net/$1 [R=301,L]

# 404 catch
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404.php

# Protect our various directories...
Options -Indexes
