RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?psypets.net(/)?.*$     [NC]
RewriteCond %{HTTP_REFERER} !^https?://wiki.psypets.net(/)?.*$     [NC]
RewriteRule .*\.(png|gif)$ - [F,NC]
