# Disable magic quotes; they're too magic
php_flag magic_quotes_gpc Off

# Security by obscurity... >_>
php_flag expose_php Off

RewriteEngine On

# Force domain to NOT begin with www.
#RewriteCond %{HTTP_HOST} ^www.psypets.net$ [NC]
#RewriteRule ^(.*)$ http://psypets.net/$1 [R=301,L]

# 404 catch
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404.php

# Protect our various directories...
Options -Indexes

php_value include_path ".:/var/www/html/PsyPets/lib"
